.next/
node_modules/
.env*
coverage/
out/
.nyc_output/
nyc.config.js
.npm/
.babelrc
.eslintrc
.prettierrc
.vscode/
.idea/
*.log
public/next.svg
public/vercel.svg
public/favicon.ico
.next/cache/
.turbo/
standalone/
.output/
.vercel/
.expo/
.expo-shared/
.nuxt/
dist/
build/
public/dist/
public/build/
public/static/
.cache/
.swc/
.rts2_cache_cjs/
.rts2_cache_esm/
.rts2_cache_jsx/
.rts2_cache_tsx/


node_modules
.next
.env
.env.local
